<div class="relative group">
    @if (!string.IsNullOrEmpty(_gravatarUrl))
    {
        <img src="@_gravatarUrl" alt="User Avatar" class="w-8 h-8 rounded-full" @onerror="ShowInitials" />
    }
    else
    {
        <div class="w-8 h-8 bg-gradient-to-br from-blue-400 to-blue-600 rounded-full flex items-center justify-center">
            <span class="text-sm font-medium text-white">@_userInitials</span>
        </div>
    }
</div>